

body {
  background-color: rgba(30, 198, 213, 0.551);
}

h1 {
  color: rgb(47, 36, 36);
  text-align: lin
}

p {
  font-family: verdana;
  font-size: 16px;
}

 
 
 
#sloupec {
  width: 800px;
  height: auto;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #000;
}

.obdelnik {
    background:#CCCCCC;   
    border: 3px solid #999999;  
    width:20px; 
    height:40px;  
    float:left; 
    margin-left:5px;  
     
    -webkit-animation-name:loading;  
    -webkit-animation-duration:1.3s; 
    -webkit-animation-iteration-count:infinite;  
    -webkit-animation-direction:linear;  
    -webkit-transform:scale(0.91);  
     
    -moz-animation-name:loading;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(0.91);
     
    -o-animation-name:loading;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(0.91);
     
    -ms-animation-name:loading;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(0.91);
     
    animation-name:loading;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(0.91);
     
    opacity:0.1;  
}
 
#navMain{
  list-style:none;
  font-family:tahoma;
  font-size:14px;
  border:1px #a81b2f solid;
  float:left;
  width:100%;
  margin:0;
  padding:0;
  background-color:#7f2020;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  }
  #navMain > li{
  float:left;
  position:relative;
  border-right:1px solid #222365;
  }
  #navMain > li > a{
  color:#f4e4e6;
  float:left;
  text-decoration:none;
  padding:11px 18px;
  border-right:1px solid #fff;
  }
  #navMain > li > a:hover{
    background: rgba(99, 20, 32, 0.25);
  }
  #navMain ul {
  display:none;
  position:absolute;
  list-style:none;
  left:0;
  padding:0;
  margin:0;
  border-top:1px #7f2020 solid;
  background:#505050;
  }
  #navMain ul li a{
  color:#fff;
  text-decoration:none;
  display:block;
  padding:6px 7px;
  border-bottom:1px solid #d3d9da;
  border-left:1px solid #d3d9da;
  border-right:1px solid #d3d9da;
  font-size:13px;
  }
  #navMain li:hover ul {
  display:block;
  top:39px;
  min-width:200px;
  }

 



  * {
    margin: 0;
    padding: 0;
  }
  .wrapper {
    height: 15%;
    width: 100%;
    background-color: #0d638e;
    position: absolute;
  }
  .wrapper h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: sans-serif;
    word-spacing: 2px;
    color: #fff;
    font-size: 2;
    font-weight: 900;
  }
  .wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 100px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
  }
  div .dot {
    height: 5px;
    width: 5px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .wrapper div:nth-child(2) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(3) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(4) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper div:nth-child(5) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(6) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(7) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper div:nth-child(8) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(9) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(10) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(11) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  
  
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
  }
  